<!-- launches the control node-->

<launch>

    <!-- Debugging flag-->
    <arg name="debug" default="True"/>

    <!-- Error flag-->
    <arg name="err" default="linear"/>

    <node pkg="project" name="ControlPIDNode" type="control_PID.py" ns="project">
        <rosparam command="load" file="$(find project)/config/pid.yaml"/>
        <param name="debug" value="$(arg debug)"/>
        <param name="err" value="$(arg err)"/>
    </node>

</launch>