<!-- launches the planner node-->

<launch>

    <!-- Debugging flag-->
    <arg name="debug" default="False"/>

    <!-- Strategy flag: [trajectory, path]-->
    <arg name="strategy" default="trajectory"/>

    <node pkg="project" name="PlannerNode" type="planner.py" ns="project">
        <param name="debug" value="$(arg debug)"/>
        <param name="strategy" value="$(arg strategy)"/>
    </node>

</launch>