
<launch>

    <!-- Debugging flag-->
    <arg name="debug" default="False"/>

    <!-- Strategy flag-->
    <arg name="strategy" default="trajectory"/>

    <!-- Error flag-->
    <arg name="err" default="linear"/>

    <!-- Simulation-->
    <include file="$(find line_tracking_race)/launch/race_track.launch"/>

</launch>